<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dnd</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{url_for('index')}}" class="logo">DND</a>
        <ul class="nav-links">
            {% if session['user'] %}
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Services</a></li>
            {%else%}
            <li><a href="#" class="nav-link">Iniciar</a></li>
            <li><a href="#" class="nav-link">Regstrar</a></li>
            {%endif%}
        </ul>
    </nav>

    <main>
       {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="#" class="social-link">Twitter</a>
                <a href="#" class="social-link">Instagram</a>
                <a href="#" class="social-link">LinkedIn</a>
            </div>
            <p class="copyright">© 2023 Minimal. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

